* {
  margin: 0;
  padding: 0;
}
#container {
  box-sizing: border-box;
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  width: 860px;
  height: 600px;
  margin: 0 auto;
  background-color: linen;
}
.box {
  border: 1px dotted black;
  width: 410px;
  height: 120px;
  margin: 5px 5px;
  background-color: navy;
  float: left;
}
.yellow {
  border: 1px dotted black;
  width: 140px;
  height: 300px;
  margin: 10px;
  background-color: yellowgreen;
  float: left;
}
.box1 {
  border: 1px solid black;
  background-color: green;
  width: 100px;
  height: 200px;
  padding: 5px;
  margin: 5px auto;
}
.box2 {
  border: 1px solid black;
  background-color: skyblue;
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 5px auto;
}
