#container {
  width: 960px;
  margin: 0 auto;
  height: auto;
}
header {
  width: 100%;
  clear: both;
  padding: 20px;
}  
.box {
  border: 1px dashed blue;
  float: left;
  margin: 0 auto;
  padding: auto;
} 
#menu1 {
  display: inline;
  float: left;
  height: 300px;
  width: 40%;
  padding: 20px;
}
#menu2 {
  display: inline;
  float: left;
  height: 300px;
  width: 30%;
  padding: 20px;
}
#menu3 {
  display: inline;
  float: left;
  padding: 20px;
}
footer {
  text-align: center;
  width: 100%;
  padding: 20px;
}